### A branded apparel company has collected the data from 50 customers on usage, gender, awareness of brand and preference of the brand. 
### Usage 1, 2, 3 for light, medium and heavy usage
### Gender 1: female 2:male
### Attitude and Preference 1:unfavourable 2: very favourable

In [1]:
import pandas as mypanda
from scipy import stats as mystats
myData=mypanda.read_csv('.\datasets\Apparel_Data.csv')
myData

    SL No  Usage  Gender  Awareness  Preference
0       1      3       2          7           5
1       2      1       1          2           4
2       3      1       1          3           6
3       4      3       2          6           5
4       5      3       2          5           7
5       6      2       2          4           5
6       7      2       1          5           4
7       8      1       1          2           3
8       9      2       2          4           3
9      10      1       1          3           2
10     11      3       2          6           6
11     12      3       2          6           6
12     13      1       1          4           3
13     14      3       2          6           5
14     15      1       2          4           4
15     16      1       2          3           2
16     17      3       1          7           4
17     18      2       1          6           4
18     19      1       1          1           3
19     20      3       1          5           4
20     21      3       2          6           7
21     22      2       2          2           1
22     23      1       1          1           3
23     24      3       1          6           6
24     25      1       2          3           2
25     26      2       2          5           4
26     27      3       2          7           6
27     28      2       1          6           2
28     29      1       1          7           3
29     30      2       2          5           4
30     31      1       2          1           7
31     32      1       2          4           5
32     33      2       1          3           3
33     34      2       1          4           5
34     35      3       1          5           7
35     36      3       1          6           7
36     37      3       2          6           5
37     38      3       2          5           4
38     39      3       2          7           6
39     40      1       1          4           4
40     41      1       1          2           4
41     42      1       1          1           2
42     43      1       1          2           3
43     44      1       1          3           4
44     45      1       1          1           4
45     46      1       2          3           2
46     47      1       1          7           3
47     48      2       2          4           3
48     49      3       2          6           6
49     50      2       1          6           4

In [2]:
usage=myData.Usage
gender=myData.Gender
awareness=myData.Awareness
preference=myData.Preference

In [3]:
myTable=mypanda.crosstab(gender,usage)
myTable

Usage    1  2   3
Gender
1       15  6   5
2        6  6  12

#### This table is called cross tabulation table

###### looking at this table relation between usage and gender can be infered

##### There is a relationship

In [4]:
myTable2=mypanda.crosstab(gender,awareness)
myTable2

Awareness  1  2  3  4  5  6  7
Gender
1          4  4  4  3  3  5  3
2          1  1  3  5  4  7  3

#### from the table it is not clear

In [5]:
mystats.chi2_contingency(myTable) #first table

(6.6701680672268902, 0.035611593514746492, 2, array([[ 10.92,   6.24,   8.84],
        [ 10.08,   5.76,   8.16]]))

here gender and usage is related since p<.05

In [6]:
T2=mystats.chi2_contingency(myTable2) #second table

inference is gender and awareness are not related
p<.05 means related
here p>.05 ==> not related

In [7]:
T2

(4.6464819902319903,
 0.58988521137025907,
 6,
 array([[ 2.6 ,  2.6 ,  3.64,  4.16,  3.64,  6.24,  3.12],
        [ 2.4 ,  2.4 ,  3.36,  3.84,  3.36,  5.76,  2.88]]))

In [8]:
T2[1]

0.58988521137025907

P value of Table 2

To check the relation between gender and preference

In [9]:
myTable3=mypanda.crosstab(gender,preference)
myTable3
mystats.chi2_contingency(myTable3) #third table

(12.168040293040294,
 0.058323323211028205,
 6,
 array([[ 0.52,  3.12,  5.2 ,  7.28,  3.64,  3.64,  2.6 ],
        [ 0.48,  2.88,  4.8 ,  6.72,  3.36,  3.36,  2.4 ]]))

In this case p value on border

In [10]:
myTable4=mypanda.crosstab(awareness,preference)
myTable4
mystats.chi2_contingency(myTable4) #forth table

(60.426587301587304,
 0.0065781303243936246,
 36,
 array([[ 0.1 ,  0.6 ,  1.  ,  1.4 ,  0.7 ,  0.7 ,  0.5 ],
        [ 0.1 ,  0.6 ,  1.  ,  1.4 ,  0.7 ,  0.7 ,  0.5 ],
        [ 0.14,  0.84,  1.4 ,  1.96,  0.98,  0.98,  0.7 ],
        [ 0.16,  0.96,  1.6 ,  2.24,  1.12,  1.12,  0.8 ],
        [ 0.14,  0.84,  1.4 ,  1.96,  0.98,  0.98,  0.7 ],
        [ 0.24,  1.44,  2.4 ,  3.36,  1.68,  1.68,  1.2 ],
        [ 0.12,  0.72,  1.2 ,  1.68,  0.84,  0.84,  0.6 ]]))

Inference is that it is related